@font-face {
  font-family: 'speechBubble';
  src: url('../assets/SF_Cartoonist_Hand_Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.popover {
  border-color: black;
  border-radius: 40%;
  padding: 1.6em 2em;
  z-index: 1039; // to put it behind modal

  > .arrow {
    &::before {
      border-top-color: black !important;
      border-bottom-color: black !important;
    }
  }

  > %popover-text {
    font-family: speechBubble;
    padding: 0;
  }

  > .popover-header {
    @extend %popover-text;
    border-bottom: none;
    font-size: 1.8em;
    background-color: initial;
  }

  > .popover-body {
    @extend %popover-text;
    font-size: 1.6em;
  }
}
