@font-face {
  font-family: 'speechBubble';
  src: url('../assets/sf_cartoonist_hand-webfont.woff2') format('woff2'),
       url('../assets/sf_cartoonist_hand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.popover {
  border-color: black;
  border-radius: 50%;
  padding: 2.3em 2em 1.6em;
  z-index: 1039; // to put it behind modal

  > .arrow {
    &::before {
      border-bottom-color: black !important;
    }
  }

  > .popover-header, > .popover-body {
    font-size: 1.5em;
    font-family: speechBubble;
  }
}
