#main-menu {
  > p:first-child {
    vertical-align: middle;
  }

  input {
    &[name="player-name"] {
      width: 66%;

      @include media-breakpoint-up(sm) {
        width: 36%;
      }
      @include media-breakpoint-up(md) {
        width: 28%;
      }
      @include media-breakpoint-up(lg) {
        width: 21%;
      }
      @include media-breakpoint-up(xl) {
        width: 17%;
      }
    }
  }

  #button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      display: none;
      margin-top: 0.25rem;

      &#enter {
        display: block;
      }

      &#vs-ai {
        > button:first-of-type {
          flex-grow: 1;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      > #vs-ai {
        > button:first-of-type > div {
          margin-right: -55px; // re-center text b/c dropdown arrow screws with centering
        }
        > button:last-of-type {
          padding: 0 24px; // widen dropdown arrow on mobile for more touch surface
        }
      }
    }

    @mixin single_button_width($width) {
      > #enter {
        width: $width;
      }
    }
    @mixin trio_button_width($width) {
      > #host, > #open-hosts, > #vs-ai {
        width: $width;
      }
    }
    @mixin quad_button_width($width) {
      > #randomize, > #ready, > #abort, > #chat-input {
        width: $width;
      }
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      @include single_button_width(45%);
      @include trio_button_width(30%);
      @include quad_button_width(45%); // two flex rows

      > #slide, > #give-up { // two smaller buttons next to chat input
        width: 23%;
      }
    }

    @include media-breakpoint-up(md) {
      > #slide {
        display: none !important; // show via script only has effect on phones
      }
      @include single_button_width(35%);
      @include quad_button_width(42%); // two flex rows

      > #give-up {
        width: 35%;
      }
    }

    @include media-breakpoint-up(lg) {
      justify-content: center;

      > * {
        margin: 0 0.5rem;
      }

      @include single_button_width(26%);
      @include trio_button_width(25%);
      @include quad_button_width(18%);

      > #give-up {
        width: 20%;
      }
      > #chat-input { // overwrites quad button width
        width: 32%;
      }
    }

    @include media-breakpoint-up(xl) {
      @include single_button_width(17%);
      @include trio_button_width(16%);
      @include quad_button_width(16%);

      > #give-up {
        width: 16%;
      }
      > #chat-input { // overwrites quad button width
        width: 32%;
      }
    }
  }

}
