#main-menu {
  > p:first-child {
    vertical-align: middle;
  }

  input {
    &[name="player-name"] {
      width: 66%;

      @include media-breakpoint-up(sm) {
        width: 36%;
      }
      @include media-breakpoint-up(md) {
        width: 28%;
      }
      @include media-breakpoint-up(lg) {
        width: 21%;
      }
      @include media-breakpoint-up(xl) {
        width: 17%;
      }
    }
  }

  #button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      display: none;
      margin-top: 0.25rem;

      &#enter {
        display: block;
      }

      &#vs-ai {
        > button:first-of-type {
          flex-grow: 1;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      > #vs-ai {
        > button:first-of-type > div {
          margin-right: -55px; // re-center text b/c dropdown arrow screws with centering
        }
        > button:last-of-type {
          padding: 0 24px; // widen dropdown arrow on mobile for more touch surface
        }
      }
    }

    @mixin trio_button_width($width) {
      > #host, > #open-hosts, > #vs-ai, > #randomize, > #ready, > #abort {
        width: $width;
      }
    }
    @mixin single_button_width($width) {
      > #enter, > #give-up{
        width: $width;
      }
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: space-evenly;

      > #slide {
        width: 45%;
      }
      @include single_button_width(45%); // note that give-up is not a single button here
      @include trio_button_width(30%);
    }

    @include media-breakpoint-up(md) {
      > #slide {
        display: none !important; // show via script only has effect on phones
      }
      @include single_button_width(35%);
    }

    @include media-breakpoint-up(lg) {
      @include single_button_width(26%);
      @include trio_button_width(25%);
    }

    @include media-breakpoint-up(xl) {
      justify-content: center;

      > * {
        margin: 0 0.5rem;
      }
      @include single_button_width(17%);
      @include trio_button_width(16%);
    }
  }

}
