#host-modal {
  .modal-dialog {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3%;
    padding-bottom: 3%;

    @include media-breakpoint-up(lg) {
      padding-bottom: 5%;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 7%;
    }

    .modal-content {
      max-height: 100%;

      /* give header & footer their fixed bootstrap size, so opera doesn't squash
      them when the host list gets very long */
      .modal-header {
        min-height: 69px;
      }
      .modal-footer {
        min-height: 69px;
      }
      .modal-body {
        overflow-y: auto;
      }
    }
  }
}

#basic-interaction-modal {
  &.game-over-modal {
    .modal-body > div > div {
      > table { // for top-level table styles, see added bootstrap classes in html
        > thead {
          &:first-of-type th {
            padding-top: 1em; // separation from table's border-top
          }
          th {
            padding-bottom: 0.4em; // separation from tbody
          }
        }
        > tbody {
          td:first-of-type { // left column
            text-align: left;
            padding-right: 2em;
          }
          td:last-of-type { // right column
            text-align: right;
          }
        }
        tr:last-of-type td {
          padding-bottom: 1em; // separation from next thead or table's border-bottom
        }
      }
    }
  }
}
