#overlay-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: map-get($colors, background);
  box-shadow: 0 0 8px 2px;
  overflow-y: auto;

  > div {
    margin: 1.5em 1em;

    @include media-breakpoint-up(md) {
      margin: 2em 2em;
    }
    @include media-breakpoint-up(lg) {
      margin: 2em auto;
      max-width: 60%;
    }
  }

  .imprint {
    ul#owner-address {
      list-style: none;
      padding-left: 0;
      margin-left: 1rem;
    }

    table#owner-contact {
      margin-bottom: 2rem;
      margin-left: 1rem;

      th {
        padding-right: 1rem;
      }
    }
  }

  .help {
    table#placement-colors {
      margin: 0 0 1rem 1rem;

      td {
        padding: 0.4em 0.5em;
      }

      span {
        display: inline-block;
        width: 2em;
        height: 2em;
        vertical-align: middle;

        &#color-overlap {
          background-color: map-get($colors, ship-overlap);
        }
        &#color-adjacent {
          background-color: map-get($colors, ship-forbidden);
        }
      }
    }

    p:last-of-type { // larger margin to browser support section
      margin-bottom: 2em;
    }
  }
}
