$colors: (
  background: ghostWhite,
  table-border: black,
  table-cell: aliceBlue,
  ship: dimGrey,
  ship-forbidden: darkOrange,
  ship-overlap: red,
  ship-highlight-shadow: white,
  shot-hit: red,
  shot-miss: deepSkyBlue,
);
