@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

@import "./variables";
@import "./controls";
@import "./grid";
@import "./modal";


html, body {
  height: 100%;
  background-color: map-get($colors, background);
  overflow-x: hidden;  // button shaking @ phones shall not cause trouble
}

body {
    overflow-y: scroll;
}

input {
  &[type="text"] {
    text-align: center;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

label, button {
  font-weight: bold !important; // overwrite bootstrap
}

a {
    color: inherit;
    text-decoration: underline;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
